textarea {
  resize: vertical;
}

[v-cloak] {
  display: none;
}

#loader-background {
  background: #fff;
  height: 100%;
  width: 100%;
  position: fixed;
  display: flex;
  top: 0px;
  left: 0px;
  z-index: 9999;
  --sk-color: #00ced1;
}

.loader-loaded {
  animation: fadeout-anim 0.5s linear forwards;
}

@keyframes fadeout-anim {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.modal.fullscreen .modal-dialog {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  max-width: none;
}

.modal.fullscreen .modal-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.modal.fullscreen .modal-body {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.modal.fullscreen .modal-body .form-inline {
  flex-shrink: 0;
}

.modal.fullscreen .modal-body textarea {
  flex: 1 1 auto;
  resize: none;
  margin-top: 10px;
}

.modal.fullscreen .modal-body .table-container {
  flex: 1 1 auto;
  overflow-y: auto;
}
